<a href="javascript:;" class="header-item header-item-userName"></a>
<a href="#" class="header-item header-item-bind">绑定时空令</a>
<!--<a class="header-item header-item-modifyPass none" href="#">修改密码</a>-->
<a class="header-item header-item-loginOut" href="login.html">安全退出</a>

<!--绑定码弹框-->
<div class="modal fade modal-bindQRcode" id="modal-bindQRcode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">绑定时空令</h4>
            </div>
            <div class="modal-body">
                <div id="qrcodeCanvas" class="modal-bindQRcode-canvas"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-gray btn-cancel" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>