<header class="mui-bar mui-bar-nav">
    <a href="javascript:;" id="btn-show-menu" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
    <!--<a class="mui-action-back mui-btn mui-btn-link mui-pull-right">关闭</a>-->
    <h1 class="mui-title">div模式右滑菜单</h1>
    <a id='setting' class="mui-btn mui-pull-right mui-btn-link" href="/components/account/setting/setting.html">设置</a>
</header>
<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="mui-content">
            <div class="mui-content-padded">
                <div>
                    您好 <span id='account'></span>，您已成功登录。
                    <ul>
                        <li>这是mui带登录和设置模板的示例App首页。</li>
                        <li>您可以点击右上角的 “设置” 按钮，进入设置模板，体验div窗体切换示例。</li>
                        <li>在 “设置” 中点击 “退出” 可以 “注销当前账户” 或 “直接关闭应用”。</li>
                        <li>你可以设置 “锁屏图案”，这样可通过手势密码代替输入账号、密码；</li>
                    </ul>
                </div>
                <!--<button  class="mui-btn mui-btn-block mui-btn-primary">设置</button>-->
                <!--
                <button id='exit' class="mui-btn mui-btn-block mui-btn-green">关闭</button>
                <button id='logout' class="mui-btn mui-btn-red mui-btn-block">注销登录</button>
                -->
            </div>
        </div>
    </div>
</div>
<!-- off-canvas backdrop -->
<div class="mui-off-canvas-backdrop"></div>

<form action="" class="form-inline mui-hidden" id="searchForm">
    <input type="hidden" name="page" value="1">
    <input type="hidden" name="size" value="20">
</form>
<script id="list-tmpl" type="text/html">
    {{ if loading }}
    <tr>
        <td colspan="10">
            <span class="icon-loading"></span>
        </td>
    </tr>
    {{ else if content && content.length > 0 }}
    {{each content as item i}}
    {{ if i%2==0 }}
    <tr>
        {{ else }}
    <tr class="trBg">
        {{ /if }}
        <td>
            {{ item.userName }}
        </td>
        <td>
            {{ item.ip }}
        </td>
        <td>
            {{ item.module }}
        </td>
        <td>
            {{ item.content }}
        </td>
        <td>
            {{ if item.status==0 }}
            成功
            {{ else }}
            失败
            {{ /if }}
        </td>
        <td>{{ item.time }}</td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td colspan="6">未搜索到符合该条件的记录！</td>
    </tr>
    {{ /if }}
</script>