<div class="footer">
    <a class="footerLink" href="javascript:;">关于我们</a>|
    <a class="footerLink" href="javascript:;">服务声明</a>|
    <a class="footerLink" href="javascript:;">友情链接</a>|
    <a class="footerLink" href="javascript:;">常见问题</a>|
    <a class="footerLink" href="javascript:;">网站地图</a>|
    <a class="footerLink" href="javascript:;">联系我们</a>
    <br/>
    &copy;&nbsp;产品由好屋中国开发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务热线：400-180-8116
    <a class="back-top" href="#page-top" title="回到顶部"></a>
</div>